@import url(/base.css);

body {
  display: grid;

  grid-template-rows: 10rem 2rem 1fr 2rem;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li {
  display: flex;
}

header form {
  display: flex;
}

/* MENÚ */

/* !En el html aparecía como menu */
body > nav ul {
  display: flex;
  list-style: none;

  height: 100%;
  justify-content: space-evenly;
}

/* MAIN */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
}

article p.description {
  flex-grow: 1;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 600px) {
  body {
    grid-template-rows: 5rem 1fr 2rem;
    grid-template-columns: 10rem 1fr;
  }

  header,
  footer {
    grid-column: span 2;
  }

  /* HEADER */
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  /* MENÚ */
  body > nav ul {
    flex-direction: column;
    justify-content: flex-start;
  }

  /* FOOTER */
  footer {
    justify-content: center;
    gap: 2rem;
  }
}
