header {
  padding: 1rem;
  text-align: center;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.theme-switcher {
  margin-top: 1rem;
}

.content {
  padding: 2rem;
  height: 100vh;
  transition: all 0.5s;
}
