* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

svg {
  fill: gray;
}

/* Crea a partir de aquí tu CSS */

svg.like {
  animation: like 250ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;

  fill: red;
  transition: fill 500ms;
}

@keyframes like {
  50% {
    transform: scale(1.2);
  }
}
